## Data preparation

In [1]:
## Importing libraries
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/MasteriNeuron/datasets/refs/heads/main/Waste_Management_and_Recycling_India.csv"

In [3]:
# Storing the data in a dataframe df
df = pd.read_csv(url)

In [4]:
df.head(3)

,City/District,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Name,"Landfill Location (Lat, Long)",Landfill Capacity (Tons),Year
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,Mumbai Landfill,"22.4265, 77.4931",45575,2019
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,Mumbai Landfill,"22.4265, 77.4931",45575,2019
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,Mumbai Landfill,"22.4265, 77.4931",45575,2019

In [5]:
df.to_csv("C:\\Users\\Rajch\\Desktop\\Hackathon\\data\\raw\\raw_file.csv", index=False)

In [6]:
df.shape

(850, 13)

In [7]:
df.dtypes

City/District                        object
Waste Type                           object
Waste Generated (Tons/Day)            int64
Recycling Rate (%)                    int64
Population Density (People/km²)       int64
Municipal Efficiency Score (1-10)     int64
Disposal Method                      object
Cost of Waste Management (₹/Ton)      int64
Awareness Campaigns Count             int64
Landfill Name                        object
Landfill Location (Lat, Long)        object
Landfill Capacity (Tons)              int64
Year                                  int64
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   City/District                      850 non-null    object
 1   Waste Type                         850 non-null    object
 2   Waste Generated (Tons/Day)         850 non-null    int64
 3   Recycling Rate (%)                 850 non-null    int64
 4   Population Density (People/km²)    850 non-null    int64
 5   Municipal Efficiency Score (1-10)  850 non-null    int64
 6   Disposal Method                    850 non-null    object
 7   Cost of Waste Management (₹/Ton)   850 non-null    int64
 8   Awareness Campaigns Count          850 non-null    int64
 9   Landfill Name                      850 non-null    object
 10  Landfill Location (Lat, Long)      850 non-null    object
 11  Landfill Capacity (Tons)           850 non-null    int64
 12  Year                               850 non-null    int64
dtypes: int64(8), object(5)
memory usage: 86.5+ KB

In [9]:
df.describe()

,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Capacity (Tons),Year
count,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000,850.000000
mean,5262.249412,57.076471,13489.705882,7.400000,2778.458824,9.904706,58934.617647,2021.000000
std,2786.984735,16.129994,6631.081494,1.722162,1276.325630,6.070772,19413.627292,1.415046
min,511.000000,30.000000,2335.000000,5.000000,503.000000,0.000000,22690.000000,2019.000000
25%,2865.750000,43.000000,7927.000000,6.000000,1647.500000,5.000000,45575.000000,2020.000000
50%,5283.000000,56.000000,12579.500000,7.000000,2853.000000,10.000000,61038.500000,2021.000000
75%,7757.250000,71.000000,19087.000000,9.000000,3855.000000,15.000000,71127.000000,2022.000000
max,9980.000000,85.000000,24032.000000,10.000000,4999.000000,20.000000,98646.000000,2023.000000

In [10]:
df.isnull().sum()

City/District                        0
Waste Type                           0
Waste Generated (Tons/Day)           0
Recycling Rate (%)                   0
Population Density (People/km²)      0
Municipal Efficiency Score (1-10)    0
Disposal Method                      0
Cost of Waste Management (₹/Ton)     0
Awareness Campaigns Count            0
Landfill Name                        0
Landfill Location (Lat, Long)        0
Landfill Capacity (Tons)             0
Year                                 0
dtype: int64

In [11]:
# Splitting the column "Landfill Location (Lat, Long)" because it has two 
df[["Latitude", "Longitude"]] = df["Landfill Location (Lat, Long)"].str.split(",", expand=True)

# Convert to numeric (remove spaces if any)
df["Latitude"] = pd.to_numeric(df["Latitude"].str.strip())
df["Longitude"] = pd.to_numeric(df["Longitude"].str.strip())

print(df.head())

  City/District    Waste Type  Waste Generated (Tons/Day)  Recycling Rate (%)  \
0        Mumbai       Plastic                        6610                  68
1        Mumbai       Organic                        1181                  56
2        Mumbai       E-Waste                        8162                  53
3        Mumbai  Construction                        8929                  56
4        Mumbai     Hazardous                        5032                  44

   Population Density (People/km²)  Municipal Efficiency Score (1-10)  \
0                            11191                                  9
1                            11191                                  5
2                            11191                                  8
3                            11191                                  5
4                            11191                                  7

  Disposal Method  Cost of Waste Management (₹/Ton)  \
0      Composting                              3056
1      Composting                              2778
2    Incineration                              3390
3        Landfill                              1498
4       Recycling                              2221

   Awareness Campaigns Count    Landfill Name Landfill Location (Lat, Long)  \
0                         14  Mumbai Landfill              22.4265, 77.4931
1                         12  Mumbai Landfill              22.4265, 77.4931
2                         13  Mumbai Landfill              22.4265, 77.4931
3                         14  Mumbai Landfill              22.4265, 77.4931
4                         16  Mumbai Landfill              22.4265, 77.4931

   Landfill Capacity (Tons)  Year  Latitude  Longitude
0                     45575  2019   22.4265    77.4931
1                     45575  2019   22.4265    77.4931
2                     45575  2019   22.4265    77.4931
3                     45575  2019   22.4265    77.4931
4                     45575  2019   22.4265    77.4931

In [12]:
df.head()

,City/District,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Name,"Landfill Location (Lat, Long)",Landfill Capacity (Tons),Year,Latitude,Longitude
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,Mumbai Landfill,"22.4265, 77.4931",45575,2019,22.4265,77.4931
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,Mumbai Landfill,"22.4265, 77.4931",45575,2019,22.4265,77.4931
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,Mumbai Landfill,"22.4265, 77.4931",45575,2019,22.4265,77.4931
3,Mumbai,Construction,8929,56,11191,5,Landfill,1498,14,Mumbai Landfill,"22.4265, 77.4931",45575,2019,22.4265,77.4931
4,Mumbai,Hazardous,5032,44,11191,7,Recycling,2221,16,Mumbai Landfill,"22.4265, 77.4931",45575,2019,22.4265,77.4931

In [13]:
df = df.drop(columns=["Landfill Location (Lat, Long)"])

In [14]:
df.head(3)

,City/District,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Name,Landfill Capacity (Tons),Year,Latitude,Longitude
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,Mumbai Landfill,45575,2019,22.4265,77.4931
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,Mumbai Landfill,45575,2019,22.4265,77.4931
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,Mumbai Landfill,45575,2019,22.4265,77.4931

In [15]:
df.dtypes

City/District                         object
Waste Type                            object
Waste Generated (Tons/Day)             int64
Recycling Rate (%)                     int64
Population Density (People/km²)        int64
Municipal Efficiency Score (1-10)      int64
Disposal Method                       object
Cost of Waste Management (₹/Ton)       int64
Awareness Campaigns Count              int64
Landfill Name                         object
Landfill Capacity (Tons)               int64
Year                                   int64
Latitude                             float64
Longitude                            float64
dtype: object

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   City/District                      850 non-null    object
 1   Waste Type                         850 non-null    object
 2   Waste Generated (Tons/Day)         850 non-null    int64
 3   Recycling Rate (%)                 850 non-null    int64
 4   Population Density (People/km²)    850 non-null    int64
 5   Municipal Efficiency Score (1-10)  850 non-null    int64
 6   Disposal Method                    850 non-null    object
 7   Cost of Waste Management (₹/Ton)   850 non-null    int64
 8   Awareness Campaigns Count          850 non-null    int64
 9   Landfill Name                      850 non-null    object
 10  Landfill Capacity (Tons)           850 non-null    int64
 11  Year                               850 non-null    int64
 12  Latitude                           850 non-null    float64
 13  Longitude                          850 non-null    float64
dtypes: float64(2), int64(8), object(4)
memory usage: 93.1+ KB

In [17]:
df.isnull().sum()

City/District                        0
Waste Type                           0
Waste Generated (Tons/Day)           0
Recycling Rate (%)                   0
Population Density (People/km²)      0
Municipal Efficiency Score (1-10)    0
Disposal Method                      0
Cost of Waste Management (₹/Ton)     0
Awareness Campaigns Count            0
Landfill Name                        0
Landfill Capacity (Tons)             0
Year                                 0
Latitude                             0
Longitude                            0
dtype: int64

In [18]:
df

,City/District,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Name,Landfill Capacity (Tons),Year,Latitude,Longitude
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,Mumbai Landfill,45575,2019,22.4265,77.4931
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,Mumbai Landfill,45575,2019,22.4265,77.4931
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,Mumbai Landfill,45575,2019,22.4265,77.4931
3,Mumbai,Construction,8929,56,11191,5,Landfill,1498,14,Mumbai Landfill,45575,2019,22.4265,77.4931
4,Mumbai,Hazardous,5032,44,11191,7,Recycling,2221,16,Mumbai Landfill,45575,2019,22.4265,77.4931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Gwalior,Plastic,6842,42,11280,8,Recycling,3546,15,Gwalior Landfill,54460,2023,10.9566,91.6565
846,Gwalior,Organic,5233,38,11280,10,Recycling,1146,5,Gwalior Landfill,54460,2023,10.9566,91.6565
847,Gwalior,E-Waste,9903,41,11280,7,Landfill,3260,4,Gwalior Landfill,54460,2023,10.9566,91.6565
848,Gwalior,Construction,7540,77,11280,6,Composting,4220,7,Gwalior Landfill,54460,2023,10.9566,91.6565
849,Gwalior,Hazardous,2480,58,11280,6,Composting,1081,19,Gwalior Landfill,54460,2023,10.9566,91.6565

In [19]:
df["Disposal Method"].value_counts(normalize=True) * 100

Disposal Method
Incineration    25.647059
Recycling       25.058824
Landfill        24.705882
Composting      24.588235
Name: proportion, dtype: float64

In [20]:
df = df.drop(columns="Landfill Name")

## Preprocessing

In [21]:
df.columns

Index(['City/District', 'Waste Type', 'Waste Generated (Tons/Day)',
       'Recycling Rate (%)', 'Population Density (People/km²)',
       'Municipal Efficiency Score (1-10)', 'Disposal Method',
       'Cost of Waste Management (₹/Ton)', 'Awareness Campaigns Count',
       'Landfill Capacity (Tons)', 'Year', 'Latitude', 'Longitude'],
      dtype='object')

In [22]:
df["City/District"].value_counts()

City/District
Mumbai                25
Delhi                 25
Bengaluru             25
Chennai               25
Kolkata               25
Hyderabad             25
Pune                  25
Ahmedabad             25
Jaipur                25
Lucknow               25
Surat                 25
Kanpur                25
Nagpur                25
Patna                 25
Bhopal                25
Thiruvananthapuram    25
Indore                25
Vadodara              25
Guwahati              25
Coimbatore            25
Ranchi                25
Amritsar              25
Jodhpur               25
Varanasi              25
Ludhiana              25
Agra                  25
Meerut                25
Nashik                25
Rajkot                25
Madurai               25
Jabalpur              25
Allahabad             25
Visakhapatnam         25
Gwalior               25
Name: count, dtype: int64

In [23]:
df["Waste Type"].value_counts()

Waste Type
Plastic         170
Organic         170
E-Waste         170
Construction    170
Hazardous       170
Name: count, dtype: int64

In [24]:
df["Disposal Method"].value_counts()

Disposal Method
Incineration    218
Recycling       213
Landfill        210
Composting      209
Name: count, dtype: int64

In [25]:
df.columns

Index(['City/District', 'Waste Type', 'Waste Generated (Tons/Day)',
       'Recycling Rate (%)', 'Population Density (People/km²)',
       'Municipal Efficiency Score (1-10)', 'Disposal Method',
       'Cost of Waste Management (₹/Ton)', 'Awareness Campaigns Count',
       'Landfill Capacity (Tons)', 'Year', 'Latitude', 'Longitude'],
      dtype='object')

In [26]:
df.rename(columns={"City/District": "City"}, inplace=True)

In [27]:
df

,City,Waste Type,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Disposal Method,Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Capacity (Tons),Year,Latitude,Longitude
0,Mumbai,Plastic,6610,68,11191,9,Composting,3056,14,45575,2019,22.4265,77.4931
1,Mumbai,Organic,1181,56,11191,5,Composting,2778,12,45575,2019,22.4265,77.4931
2,Mumbai,E-Waste,8162,53,11191,8,Incineration,3390,13,45575,2019,22.4265,77.4931
3,Mumbai,Construction,8929,56,11191,5,Landfill,1498,14,45575,2019,22.4265,77.4931
4,Mumbai,Hazardous,5032,44,11191,7,Recycling,2221,16,45575,2019,22.4265,77.4931
...,...,...,...,...,...,...,...,...,...,...,...,...,...
845,Gwalior,Plastic,6842,42,11280,8,Recycling,3546,15,54460,2023,10.9566,91.6565
846,Gwalior,Organic,5233,38,11280,10,Recycling,1146,5,54460,2023,10.9566,91.6565
847,Gwalior,E-Waste,9903,41,11280,7,Landfill,3260,4,54460,2023,10.9566,91.6565
848,Gwalior,Construction,7540,77,11280,6,Composting,4220,7,54460,2023,10.9566,91.6565
849,Gwalior,Hazardous,2480,58,11280,6,Composting,1081,19,54460,2023,10.9566,91.6565

In [28]:
for col in ['City', 'Waste Type', 'Disposal Method']:
    print(f"-----------{col}------------")
    print(df[col].unique())

-----------City------------
['Mumbai' 'Delhi' 'Bengaluru' 'Chennai' 'Kolkata' 'Hyderabad' 'Pune'
 'Ahmedabad' 'Jaipur' 'Lucknow' 'Surat' 'Kanpur' 'Nagpur' 'Patna' 'Bhopal'
 'Thiruvananthapuram' 'Indore' 'Vadodara' 'Guwahati' 'Coimbatore' 'Ranchi'
 'Amritsar' 'Jodhpur' 'Varanasi' 'Ludhiana' 'Agra' 'Meerut' 'Nashik'
 'Rajkot' 'Madurai' 'Jabalpur' 'Allahabad' 'Visakhapatnam' 'Gwalior']
-----------Waste Type------------
['Plastic' 'Organic' 'E-Waste' 'Construction' 'Hazardous']
-----------Disposal Method------------
['Composting' 'Incineration' 'Landfill' 'Recycling']

In [29]:
df = pd.get_dummies(df, columns=["City", "Waste Type", "Disposal Method"], drop_first=True)

In [30]:
df.to_csv("C:\\Users\\Rajch\\Desktop\\Hackathon\\data\\processed\\processed_data.csv", index=False)

In [31]:
df.head(2)

,Waste Generated (Tons/Day),Recycling Rate (%),Population Density (People/km²),Municipal Efficiency Score (1-10),Cost of Waste Management (₹/Ton),Awareness Campaigns Count,Landfill Capacity (Tons),Year,Latitude,Longitude,...,City_Vadodara,City_Varanasi,City_Visakhapatnam,Waste Type_E-Waste,Waste Type_Hazardous,Waste Type_Organic,Waste Type_Plastic,Disposal Method_Incineration,Disposal Method_Landfill,Disposal Method_Recycling
0,6610,68,11191,9,3056,14,45575,2019,22.4265,77.4931,...,False,False,False,False,False,False,True,False,False,False
1,1181,56,11191,5,2778,12,45575,2019,22.4265,77.4931,...,False,False,False,False,False,True,False,False,False,False

In [32]:
df.columns.unique()

Index(['Waste Generated (Tons/Day)', 'Recycling Rate (%)',
       'Population Density (People/km²)', 'Municipal Efficiency Score (1-10)',
       'Cost of Waste Management (₹/Ton)', 'Awareness Campaigns Count',
       'Landfill Capacity (Tons)', 'Year', 'Latitude', 'Longitude',
       'City_Ahmedabad', 'City_Allahabad', 'City_Amritsar', 'City_Bengaluru',
       'City_Bhopal', 'City_Chennai', 'City_Coimbatore', 'City_Delhi',
       'City_Guwahati', 'City_Gwalior', 'City_Hyderabad', 'City_Indore',
       'City_Jabalpur', 'City_Jaipur', 'City_Jodhpur', 'City_Kanpur',
       'City_Kolkata', 'City_Lucknow', 'City_Ludhiana', 'City_Madurai',
       'City_Meerut', 'City_Mumbai', 'City_Nagpur', 'City_Nashik',
       'City_Patna', 'City_Pune', 'City_Rajkot', 'City_Ranchi', 'City_Surat',
       'City_Thiruvananthapuram', 'City_Vadodara', 'City_Varanasi',
       'City_Visakhapatnam', 'Waste Type_E-Waste', 'Waste Type_Hazardous',
       'Waste Type_Organic', 'Waste Type_Plastic',
       'Disposal Method_Incineration', 'Disposal Method_Landfill',
       'Disposal Method_Recycling'],
      dtype='object')